* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

header {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;

    height: 80px;

    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

header > img {
    width: 50px;
}

header > h1 {
    font-weight: 400;
}

main {
    padding: 30px 30px 10px;
}

.add-ingredient-form {
    display: flex;
    gap: 12px;
    justify-content: center;
    height: 38px;
}

.add-ingredient-form > input {
    flex-grow: 1;

    min-width: 150px;
    max-width: 400px;
    padding: 9px 13px;

    border: 1px solid #D1D5DB;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.add-ingredient-form > button {
    width: 150px;

    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: #FAFAF8;

    background-color: #141413;
    border: none;
    border-radius: 6px;
}

.add-ingredient-form > button::before {
    content: "+";
    margin-right: 5px;
}