* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-size: 1.3rem;
    color: white;
    background-color: #70B85D;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;

    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 1rem;

    font-family: Karla, sans-serif;
    font-size: 24px;
    color: white;

    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
}

button:hover {
    color: #2C5E2E;
    background-color: #FFFEF1;
}

button:focus {
    outline: 0;
}

p {
    margin-block: 10px;
    font-size: 2rem;
}